<form class="form-inline well">
	<div class="form-group">
		<label for="url" class="sr-only">url</label>
		<input class="form-control" id="url" name="url" type="url" placeholder="Jane Doe" ng-model="main.newItem.url">
	</div>

	<div class="form-group">
		<label for="intervalMin" class="sr-only">intervalMin</label>
		<select class="form-control" id="intervalMin" name="intervalMin" ng-model="main.newItem.interval.minutes" ng-options="n as (n+' min.') for n in [1,2,5,10,15,30,45]"></select>
	</div>
		<div class="form-group">
		<label for="intervalMin" class="sr-only">intervalMin</label>
		<select class="form-control" id="intervalMin" name="intervalMin" ng-model="main.newItem.interval.hours" ng-options="n as (n+' std.') for n in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24]"></select>
	</div>

	<button type="submit" class="btn btn-primary pull-right" ng-click="main.add()">add Job</button>
</form>

<ul class="list-group">
	<li class="list-group-item">
		<button class="btn pull-right" ng-click="main.sync()">update</button>
		<h3 class="list-group-item-heading"> 
		
			<span class="label label-success label-pill" ng-class="{ 'label-success' : main.status.isRunning, 'label-danger' : !main.status.isRunning, }">
				isOnline : {{ main.moment(main.status.startedAt,'X').fromNow() }}
			</span>
			Registerd Jobs:</h3>
	</li>
	<li class="list-group-item" ng-repeat="job in main.awesomeThings">

		<h4 class="list-group-item-heading"> 
			
		<span ng-show="job.stats.ok" class="label label-success label-pill pull-right">{{ job.stats.ok }}</span>
		<span ng-show="job.stats.fail" class="label label-danger label-pill pull-right">{{ job.stats.fail }}</span>
		<div class="pull-right" ng-show="(job.stats.ok || job.stats.fail)"><small>count:&nbsp;</small></div>
		
			{{ job.name }}<br>
			<small>{{ job.url | json }}</small>
		</h4>

		<p>{{ job.intervall.minutes }} Minutes</p>

		<p class="list-group-item-text" ng-show="job.stats.last == null">
			last run : <span class="label label-default label-pill">never, waiting ..</span>
			<br/>
			<br/>
		</p>
		<p class="list-group-item-text" ng-if="job.stats.last != null">
			last run : <span class="label label-info label-pill">{{ main.moment(job.stats.last,'X').fromNow() }}</span> 
			{{ main.moment(job.stats.last,'X').format() }}
			<br/>
			<br/>
		</p>
		<pre> last content: {{ job.stats.log | json }}</pre>

		<div>
			<button class="btn btn-danger" ng-click="main.remove(job)">remove</button>
		</div>
	</li>
</ul>